GEMINIKEY=
GEMINIMODEL=gemini-2.5-pro-preview-06-05
GEMINIRPMLIMIT=10
GEMINIRPDLIMIT=1000
GEMINITPMLIMIT=2000000
GEMINITPDLIMIT=100000000
MAXBLOCKTOKENS=800000
MAXTOTALINPUTTOKENS=5000000
TOKENSAFETYMARGIN=0.75
MAXBLOCKSIZEMB=20
APICONCURRENCY=3
APICOOLDOWNMS=3000
DATADIR=./data
CONTENTDIR=./content
